{% extends 'presente/base.html' %}

{% block conteudo %}
<form method="POST" enctype="multipart/form-data" class="mt-5 mb-5 my-5 mx-5">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    <div class="row">
        <div class="col-3">
            {{ form.foto_aluno|as_crispy_field }}
        </div>
        <div class="col-3">
            {{ form.nome_aluno |as_crispy_field }}
        </div>
        <div class="col-3">
            {{ form.matricula_aluno|as_crispy_field }}
        </div>
        <div class="col-3">
            {{ form.cidade_aluno|as_crispy_field }}
        </div>
    </div>
    <input type="submit" value="Editar" class='btn btn-warning'>
</form>


<table class="table  table-hover container">
    <thead class="table table-primary">
    <tr>
        <td>Id do aluno</td>
        <td>Foto</td>
        <td>Nome aluno</td>
        <td>Matrícula</td>
        <td>Cidade</td>
        <td>Editar</td>
        <td>Excluir</td>
    </tr>
    </thead>
    <tbody>
    {% for aluno in alunos %}
        <tr>
            <td>{{ aluno.id_aluno }}</td>
            <td><img src="{{ aluno.foto_url }}" alt="{{ aluno.nome_aluno }}"></td>
            <td>{{ aluno.nome_aluno }}</td>
            <td>{{ aluno.matricula_aluno }}</td>
            <td>{{ aluno.cidade_aluno }}</td>
            <td><a href="{% url 'editar_aluno' aluno.id_aluno %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                     viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                </svg>
            </a></td>
            <td><a href="{% url 'deletar_aluno' aluno.id_aluno %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(255,0,15)"
                     class="bi bi-x-octagon" viewBox="0 0 16 16">
                    <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1z"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
            </a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock conteudo %}
